/* Add this CSS to your test-form.css file or include it in a <style> tag in the head section of your HTML file */

body {
  font-family: Arial, sans-serif;
}

/* .container {
  margin-top: 50px;
} */

.result-wrapper {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  background-color: hotpink;
}

.result-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.result-content {
  margin-top: 20px;
}

.result-content p {
  font-size: 18px;
  margin-bottom: 10px;
}

.result-content h5 {
  margin-bottom: 10px;
}

.highest-score-text {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
}

.container {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  /* min-height: 250px; */
  position: relative;
  z-index: 1;
}



.image-style {
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.footer {
  background-color: #f5f5f5;
  padding: 20px 0;
  text-align: center;
}

.footer p {
  margin: 0;
}



@media (max-width: 576px) {
  /* Styles for small screens */
  .result-title {
    font-size: 20px;
  }

  .result-content p,
  .result-content h5 {
    font-size: 16px;
  }

  .highest-score-text {
    font-size: 18px;
  }
}
